<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">Chat - SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/App.css"/>
    <% if (isHosted) { %>
        <link rel="stylesheet" href="https://ai-dictionary.github.io/superaitutor/assets/styles/chatPage.css"/>
    <% } else { %>
        <link rel="stylesheet" href="../assets/styles/chatPage.css"/>
    <% } %>
</head>
<body>
    <%- header %>
    <main class="workspace chatSpace flx">
        <section class="left">
            <form class="form-inline search">
                <span class="DocSearch-Button-Container">
                    <svg width="16" height="16" viewBox="0 0 20 20" aria-hidden="true" >
                        <path d="M14.386 14.386l4.0877 4.0877-4.0877-4.0877c-2.9418 2.9419-7.7115 2.9419-10.6533 0-2.9419-2.9418-2.9419-7.7115 0-10.6533 2.9418-2.9419 7.7115-2.9419 10.6533 0 2.9419 2.9418 2.9419 7.7115 0 10.6533z" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg>
                </span>
                <input class="form-control" type="search" placeholder="Search" name="search" aria-label="Search" title="Search you AI tutor's chat">
            </form>
            <div class="botlist">
                <div class="botcard flx">
                    <div class="left">
                        <img src="../public/favicon.ico" alt="sait"/>
                    </div>
                    <div class="right">
                        <h6>Bot Name</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, odit?</p>
                    </div>
                </div>
                <div class="botcard flx">
                    <div class="left">
                        <img src="../public/favicon.ico" alt="sait"/>
                    </div>
                    <div class="right">
                        <h6>Bot Name</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, odit?</p>
                    </div>
                </div>
                <div class="botcard flx">
                    <div class="left">
                        <img src="../public/favicon.ico" alt="sait"/>
                    </div>
                    <div class="right">
                        <h6>Bot Name</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, odit?</p>
                    </div>
                </div>
                <div class="botcard flx">
                    <div class="left">
                        <img src="../public/favicon.ico" alt="sait"/>
                    </div>
                    <div class="right">
                        <h6>Bot Name</h6>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, odit?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="right">
            <div class="chathead flx">
                <div class="left">
                    <img src="../public/favicon.ico" alt="sait"/>
                    <div>Bot Name</div>
                </div>
                <div class="right flx">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </div>
            </div>
            <div class="chatBox">
                <aside id="message-section">
                    <div class="dume">
                        <h4>Hey, nice to see you.<br>What is your doubt?</h4>
                    </div>
                    
                </aside>
                <div id="input-section">
                    <textarea id="input" row="5" placeholder="Message SAIT" autocomplete="on" autofocus="autofocus"></textarea>
                    <div class="control">
                        <div class="moreadd">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                            </svg>
                        </div>
                        <div class="send" onclick="chat.messageSynthesis();">
                            <i class="fa fa-long-arrow-up"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../static/App.js" nonce="<%= nonce %>"></script>
</html>
