<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/App.css"/>
    <% if (isHosted) { %>
        <link rel="stylesheet" href="https://ai-dictionary.github.io/superaitutor/assets/styles/sideNav.css"/>
        <link rel="stylesheet" href="https://ai-dictionary.github.io/superaitutor/assets/styles/dashboard.css"/>
    <% } else { %>
        <link rel="stylesheet" href="../assets/styles/sideNav.css"/>
        <link rel="stylesheet" href="../assets/styles/dashboard.css"/>
    <% } %>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/assets/css/docs.css"/>
</head>
<body>
    <main class="workspace flx">
        <%- sideNav %>
        <article>
            <header>
                <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-layout-sidebar" viewBox="0 0 16 16">
                        <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm5-1v12h9a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zM4 2H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h2z"/>
                    </svg>
                    <div class="navbar-search">
                        <form class="bd-search position-relative me-auto" action="/docs" target="_blank">
                            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                                <input type="search" class="form-control ds-input" id="search-input" placeholder="Search" name="search" aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" dir="auto" style="position: relative; vertical-align: top;">
                            </span>
                        </form>
                    </div>
                    <div class="navbar-nav">
                        <div class="tools">
                            <svg xmlns="http://www.w3.org/2000/svg" title="Calculator" fill="currentColor" class="bi bi-calculator" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                                <path d="M4 2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" title="Calender" fill="currentColor" class="bi bi-calendar4" viewBox="0 0 16 16">
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" title="Notification" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2M8 1.918l-.797.161A4 4 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4 4 0 0 0-3.203-3.92zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5 5 0 0 1 13 6c0 .88.32 4.2 1.22 6"/>
                            </svg>
                        </div>
                        <div class="user-details flx">
                            <div class="dp">
                                KM
                            </div>
                            <div class="name">
                                <div class="top">My Account</div>
                                <div class="down">Welcome back {Krish}</div>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
        </article>
    </main>
</body>
<script src="../static/App.js" nonce="<%= nonce %>"></script>
<% if (isHosted) { %>
    <script src="https://ai-dictionary.github.io/superaitutor/assets/scripts/sideNav.js" nonce="<%= nonce %>"></script>
<% } else { %>
    <script src="../assets/scripts/sideNav.js" nonce="<%= nonce %>"></script>
<% } %>
</html>
