<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/App.css"/>
    <% if (isHosted) { %>
        <link rel="stylesheet" href="https://ai-dictionary.github.io/superaitutor/assets/styles/sideNav.css"/>
    <% } else { %>
        <link rel="stylesheet" href="../assets/styles/sideNav.css"/>
    <% } %>
</head>
<body>
    <main class="workspace flx">
        <%- sideNav %>

    </main>
</body>
<script src="../static/App.js" nonce="<%= nonce %>"></script>
<% if (isHosted) { %>
    <script src="https://ai-dictionary.github.io/superaitutor/assets/scripts/sideNav.js" nonce="<%= nonce %>"></script>
<% } else { %>
    <script src="../assets/scripts/sideNav.js" nonce="<%= nonce %>"></script>
<% } %>
</html>
