<link rel="stylesheet" href="https://getbootstrap.com/docs/5.0/assets/css/docs.css"/>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');
</style>
<header>
    <nav class="navbar navbar-expand-lg navbar-light "><!-- bg-light -->
        <a class="navbar-brand" href="/"><img src="../public/favicon.ico" alt="sait"> SAIT</a>
        <div class="navbar-search">
            <form class="bd-search position-relative me-auto" action="/docs" target="_blank">
                <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                    <input type="search" class="form-control ds-input" id="search-input" placeholder="Search" name="search" aria-label="Search docs for..." autocomplete="off" data-bd-docs-version="5.0" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" dir="auto" style="position: relative; vertical-align: top;">
                </span>
            </form>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Products 1</a>
                        <a class="dropdown-item" href="#">Products 2</a>
                        <a class="dropdown-item" href="#">Products 3</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Features
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Teacher</a>
                        <a class="dropdown-item" href="#">Student</a>
                        <a class="dropdown-item" href="#">Parents</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/priceList">Pricing</a>
                </li>
                <% if (displayMode == 'both') { %>
                    <li class="nav-item btn-group">
                        <div class="btn btn-outline-dark" onclick="route('/signup');">Signup</div>
                        <div class="btn btn-outline-dark" onclick="route('/login');">Login</div>
                    </li>
                <% } else if (displayMode == 'only login') { %>
                    <li class="nav-item">
                        <div class="btn btn-outline-dark" onclick="route('/login');">All ready have an account</div>
                    </li>
                <% } else if (typeof displayMode === 'object' && displayMode.name.length <= 2) { %>
                    <li class="nav-item user-dp" <%= `style="background: ${displayMode.bg || '#eee'};"` %>>
                        <div title="View Profile, <%= displayMode.id %>"><%= displayMode.name %></div>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <div class="btn btn-outline-dark" onclick="route('/signup');">Create your account</div>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
</header>
