<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="superaitutor">
    <meta property="og:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" name="og:image">
    <meta itemprop="image" content="https://superaitutor.vercel.app/public/logo1500.png">
    <meta property="og:site_name" content="superaitutor">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="superaitutor">
    <meta content="SuperAITutor is a next-generation educational 
    platform that reimagines how students, teachers, and parents 
    engage with learning. Designed to foster meaningful connections 
    and empower academic growth, it offers a personalized ecosystem 
    where students can access AI-powered doubt solving, career 
    guidance, exam preparation, and mentorship in one place." lang="en-us" name="description">
    <meta content="SuperAITutor, sait, ai tutor, super ai, chatbot teacher, progress track, project, JPEN, Ai Dictionary" lang="en-us" name="keywords">
    <title version="1.0">Login - SuperAITutor</title>
    <meta name="author" content="Ai-Dictionary">
    <link rel="apple-touch-icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico">
    <link rel="icon" href="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/favicon.ico" sizes="192x192">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Feed" href="https://superaitutor.com/feed/">
    <link rel="alternate" type="application/rss+xml" title="SuperAITutor » Comments Feed" href="https://superaitutor.com/comments/feed/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
</head>
<style>
    body{
        background: #FBFAF5;
    }
    .flx section{
        width: 50%;
    }
    .left-component{
        padding: 40px 40px 0px 40px;
        user-select: none;
        .logo, .logo img{
            width: 80px;
            height: 80px;
            position: relative;
        }
        .heading{
            margin-top: 6%;
            font-size: 50px;
            color: var(--rblue);
            font-family: sans-serif;
            font-weight: bold;
            line-height: normal;
        }
        .student_reading{
            position: absolute;
            top: 30%;
            left: 15%; 
            width: 500px;
            transform: rotateY(180deg);
        }
    }
    .right-component{
        .log-from{
            width: 80%;
            border-radius: 10px;
            background: var(--lavender);
            font-family: sans-serif;
            padding: 30px 30px;
            margin-top: 80px;
            h3{
                font-weight: bold;
            }
            h5{
                margin-bottom: 50px;
            }
            .captcha{
                width: 40%;
                height: 40px;
                background-image: url('https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/assets/images/haze.png');
                background-repeat: no-repeat;
                background-size: cover;
                #captcha-img{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    user-select: none;
                }
            }
            .helping{
                margin: 10px 0px;
                padding: 10px;
                span{
                    cursor: pointer;
                }
            }
            .error{
                display: none;
                color: red;
                margin: 0px 5px;
                font-family: consolas;
            }
        }
    }
    @media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px){
        .flx section{
            width: 100%;
        }
        .left-component{
            display: none;
        }
        .right-component{
            .log-from{
                margin: 20px auto;
                width: 95%;
                h3{
                    font-size: 22px;
                }
                h5{
                    font-size: 18px;
                }
                .captcha{
                    width: 60%;
                }
                .btn-lg{
                    font-size: 16px;
                    padding: .375rem .75rem !important;
                }
            }
            .helping{
                font-size: 14px;
            }
        }
    }
    /* Desktop view */
    @media only screen and (min-width: 481px) and (max-width: 767px) {
        .right-component{
            .log-from{
                margin: 40px auto;
                width: 80%;
            }
        }
    }
    /* Tab view */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        .right-component{
            .log-from{
                margin: 30px auto;
                width: 60%;
            }
        }
    }
</style>
<body>
    <main class="workspace flx">
        <section class="left-component">
            <div class="logo">
                <img src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/public/logo1500.png" alt="superaitutor" title="SuperAITutor"/>
            </div>
            <div class="heading">Helping students<br> achieve the education<br> they deserve</div>
            <img src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/assets/images/student_reading.png" alt="superaitutor" class="student_reading"/>
        </section>
        <section class="right-component">
            <div class="log-from">
                <h3>Welcome to Super AI Tutor</h3>
                <h5>Login to your account</h5>
                <div class="form-group mb-3">
                    <input type="email" class="form-control" id="useremail" placeholder="Enter User Id or Email Id" required/>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" id="userpassword" placeholder="Enter Password" required/>
                </div>
                <div class="form-group flx">
                    <div class="captcha">
                        <img src="" alt="captcha" title="This is for your security and verification" id="captcha-img"/>
                    </div>
                    <div class="btn btn-outline-process" id="captcha-btn"><i class="fa fa-refresh"></i> Refresh</div>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="captcha-txt" placeholder="Enter Captcha" required/>
                </div>
                <div class="btn btn-process btn-lg btn-block" id="login">Login</div>
                <div class="helping flx"><span>Create Your Account</span><span>Forgot Password</span></div>
                <div class="error"></div>
            </div>
        </section>
    </main>
</body>
<script src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/assets/scripts/captcha.js" nonce="<%= nonce %>"></script>
<script src="https://raw.githubusercontent.com/Ai-Dictionary/superaitutor/main/assets/scripts/login.js" nonce="<%= nonce %>"></script>
</html>