<section class="small-tutorial flx">
    <div class="left">
        <div class="icon-circle">
            <i class="fa fa-youtube-play"></i>
        </div>
    </div>
    <div class="right">
        <h6>Need help?</h6>
        <a href="<%= link %>">Watch a quick tutorial</a>
    </div>
</section>