<div class="profile-page">
    <div class="head flx">
        <h4>Account Details</h4>
        <div class="btn btn-outline-process">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
                viewBox="0 0 16 16">
                <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
            </svg>
            Edit
        </div>
    </div>
    <div class="body flx">
        <div class="left-component">
            <div class="dp" title="My Desktop Picture">
                KM
            </div>
            <div class="breaker">Personal Details</div>
            <div class="user-data">
                <div class="form-group flx">
                    <label for="userName">Name</label>
                    <input type="name" class="form-control" id="name" aria-describedby="nameHelp"
                        placeholder="Enter your full name" required />
                </div>
                <div class="form-group flx">
                    <label for="gender">Gender</label>
                    <select class="form-control" id="gender" aria-describedby="genderHelp" required>
                        <option value="Male" selected>Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="dob">Date of Birth</label>
                    <input type="date" class="form-control" id="dob" max="60" min="8" id="dob"
                        aria-describedby="dobHelp" placeholder="dd-mm-yyyy" required />
                </div>
                <div class="form-group flx">
                    <label for="contact">Contact Number (WhatsApp Preferred)</label>
                    <input type="tel" class="form-control" id="contact" maxlength="10" id="contact"
                        aria-describedby="contactHelp" placeholder="Enter your contact number" required />
                </div>
                <div class="form-group flx">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                        placeholder="Enter your email id" required />
                </div>
                <div class="form-group flx">
                    <label for="address">Residential Address</label>
                    <input type="text" class="form-control" id="address" maxlength="30" id="address"
                        aria-describedby="addressHelp" placeholder="Enter your current address" required />
                </div>
                <div class="form-group flx">
                    <label for="postoffice">Post Office</label>
                    <input type="postoffice" class="form-control" aria-describedby="postofficeHelp"
                        placeholder="Enter your nearest postoffice name" required />
                </div>
                <div class="form-group flx">
                    <label for="city">City</label>
                    <input type="text" class="form-control" maxlength="30" id="city" aria-describedby="cityHelp"
                        placeholder="Enter your current city" required />
                </div>
                <div class="form-group flx">
                    <label for="pin">PIN Code</label>
                    <input type="number" class="form-control" id="pin" maxlength="6" aria-describedby="pinHelp"
                        placeholder="Enter your pin code" required />
                </div>
                <div class="form-group flx">
                    <label for="parentName">Parent's Full Name</label>
                    <input type="text" class="form-control" id="parent_name" placeholder="Enter your parent's full name"
                        required />
                </div>
                <div class="form-group flx">
                    <label for="relationship">Relationship with Parent</label>
                    <select class="form-control" id="relationship" required>
                        <option value="Father" selected>Father</option>
                        <option value="Mother">Mother</option>
                        <option value="Grandfather">Grandfather</option>
                        <option value="Grandmother">Grandmother</option>
                        <option value="Uncle">Uncle</option>
                        <option value="Aunt">Aunt</option>
                        <option value="Brother">Brother</option>
                        <option value="Sister">Sister</option>
                        <option value="Husband">Husband</option>
                        <option value="Legal Guardian">Legal Guardian</option>
                        <option value="Foster Parent">Foster Parent</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="parentContact">Parent's Contact Number (WhatsApp Preferred)</label>
                    <input type="tel" class="form-control" id="parent_contact" maxlength="10"
                        placeholder="Enter parent's contact number" required />
                </div>
            </div>
        </div>
        <div class="right-component">
            <div class="breaker">Academic Details</div>
            <div class="user-data">
                <div class="form-group flx">
                    <label for="institutionName">Current Institution (School/College Name)</label>
                    <input type="text" class="form-control" id="institute" aria-describedby="institutionHelp"
                        placeholder="Enter the name of your school or college" required />
                </div>
                <div class="form-group flx">
                    <label for="educationLevel">Education Level</label>
                    <select class="form-control" id="level" required>
                        <option value="Primary School">Primary School</option>
                        <option value="High School">High School</option>
                        <option value="Undergraduate" selected>Undergraduate</option>
                        <option value="Postgraduate">Postgraduate</option>
                        <option value="Doctorate">Doctorate / PhD</option>
                        <option value="Diploma">Diploma / Certification</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="currentClass">Current Class</label>
                    <select class="form-control" id="class" required>
                        <option value="6">Class 6</option>
                        <option value="7">Class 7</option>
                        <option value="8">Class 8</option>
                        <option value="9">Class 9</option>
                        <option value="10" selected>Class 10</option>
                        <option value="11">Class 11</option>
                        <option value="12">Class 12</option>
                        <option value="Bachelor">Bachelor's Degree</option>
                        <option value="Diploma">Diploma / Certification</option>
                        <option value="Master">Master's Degree</option>
                        <option value="PhD">PhD / Doctorate</option>
                        <option value="Post Doctoral">Postdoctoral Research</option>
                        <option value="Gap Year">Gap Year</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="academicStream">Academic Stream / Major</label>
                    <select class="form-control" id="stream" required>
                        <option value="Not Applicable">Not Applicable</option>
                        <option value="Science" selected>Science</option>
                        <option value="Commerce">Commerce</option>
                        <option value="Arts">Arts / Humanities</option>
                        <option value="Vocational">Vocational Studies</option>
                        <option value="Engineering">Engineering (e.g., Mechanical, Electrical, Civil)</option>
                        <option value="Computer Science">Computer Science / IT</option>
                        <option value="Business">Business Administration / Management</option>
                        <option value="Economics">Economics</option>
                        <option value="Accounting">Accounting / Finance</option>
                        <option value="Law">Law / Legal Studies</option>
                        <option value="Medicine">Medicine / MBBS</option>
                        <option value="Nursing">Nursing / Allied Health</option>
                        <option value="Pharmacy">Pharmacy</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Education">Education / B.Ed</option>
                        <option value="Psychology">Psychology</option>
                        <option value="Sociology">Sociology</option>
                        <option value="Political_science">Political Science</option>
                        <option value="History">History</option>
                        <option value="Literature">English / Literature</option>
                        <option value="Media Communication">Mass Communication / Journalism</option>
                        <option value="Fine Arts">Fine Arts / Performing Arts</option>
                        <option value="Agriculture">Agricultural Sciences</option>
                        <option value="Environmental">Environmental Science</option>
                        <option value="Statistics">Statistics / Mathematics</option>
                        <option value="Foreign Languages">Foreign Languages</option>
                        <option value="Hotel Management">Hotel Management / Hospitality</option>
                        <option value="Fashion Design">Fashion Design</option>
                        <option value="Interior Design">Interior Design</option>
                        <option value="Animation">Animation / Multimedia</option>
                        <option value="Culinary">Culinary Arts</option>
                        <option value="Sports Science">Sports Science / Physical Education</option>
                        <option value="Data Science">Data Science / AI / ML</option>
                        <option value="Cybersecurity">Cybersecurity</option>
                        <option value="Not Decided">Undecided / Exploring Options</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="previousResults">Previous Academic Results</label>
                    <input type="number" class="form-control" id="results"
                        placeholder="e.g., Class 10: 85%, Class 12: 60%, GPA: 3.7" required />
                </div>
                <div class="form-group flx">
                    <label for="mediumInstruction">Preferred Medium of Instruction</label>
                    <select class="form-control" id="medium" required>
                        <option value="English">English</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Bengali" selected>Bengali</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Odia">Odia</option>
                        <option value="Sanskrit">Sanskrit</option>
                        <option value="Multilingual">Multilingual / Bilingual</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group flx">
                    <label for="favouriteSubjects">Favourite Subjects</label>
                    <input type="text" class="form-control" id="fav_subject"
                        placeholder="e.g., Geography, English, Computer Science" required />
                </div>
                <div class="form-group flx">
                    <label for="difficultSubjects">Difficult Subjects</label>
                    <input type="text" class="form-control" id="diff_subject"
                        placeholder="e.g., Mathematics, Chemistry, English" required />
                </div>
            </div>
        </div>
    </div>

</div>