<div class="teacher-page">
    <div class="head">
        <h4>Find your <strong><%- type=='student' ?'Teacher':(type=='teacher' ?'Student':(type=='admin' ?'not define':'self')) %></strong></h4>
        <div class="flx normal-option">
            <div class="left-component flx">
                <div class="form-group">
                    <select class="form-control" id="filter" aria-describedby="filterHelp">
                        <option value="All">All</option>
                        <option value="Nearest" selected>Nearest</option>
                        <option value="Teacher">Teacher</option>
                        <option value="Mentor">Mentor</option>
                        <option value="High rated">High rated</option>
                        <option value="Low rated">Low rated</option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" id="subject" aria-describedby="subjectHelp">
                        <option value="All" selected>All</option>
                    </select>
                </div>
            </div>
            <div class="right-component">
                <nav class="navbar navbar-light ">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" id="teacher-search" aria-label="Search" onkeyup="system.search('teacher-search','teacher', 'block');" />
                        <div class="btn btn-outline-process my-2 my-sm-0" onclick="">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16px" hight="16px" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5"/>
                            </svg>
                            Get More
                        </div>
                    </form>
                </nav>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="teacher">
            <div class="top flx">
                <div class="left">
                    <div class="dp" style="background: '{bg}';">{dp}</div>
                </div>
                <div class="right">
                    <div class="title flx">
                        <span>{name}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z"/>
                        </svg>
                    </div>
                    <div class="mid">
                        <span>{class_level}</span><br>
                        <span>{subject}</span>
                    </div>
                    <div class="down flx">
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-star-half rate" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"/>
                            </svg>
                            4.3
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-calendar-week" viewBox="0 0 16 16">
                                <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                            </svg>
                            {experience} years
                        </span>
                        <span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                                <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
                                <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
                            </svg>
                            {mode}
                        </span>
                    </div>
                </div>
            </div>
            <div class="bottom flx">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    {city}
                </span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16">
                        <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917z"/>
                        <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466z"/>
                    </svg>
                    {institute}
                </span>
            </div>
        </div>
    </div>
    <div id="teacher-searchDOD">
        <% if (isHosted) { %>
            <img src="https://ai-dictionary.github.io/superaitutor/assets/images/404.svg" alt="sait" title="not found"/>
        <% } else { %>
            <image src="../assets/images/404.svg" alt="sait" title="not found"/>
        <% } %>
    </div>
    <div class="raw-data" id="raw-user"><%- JSON.stringify(users) %></div>
    <div class="raw-data" id="raw-relation"><%- JSON.stringify(relation) %></div>
    <div id="user_card" class="blbg">
        <div class="card">
            <div class="top">
                <div class="dp">{dp}</div>
            </div>
            <div class="mid">
                <div class="title flx">
                    <span class="name">{name}</span>
                    <div class="flx">
                        <div class="btn btn-outline-secondary" title="Share the profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share" viewBox="0 0 16 16">
                                <path d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.5 2.5 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5m-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3"/>
                            </svg>
                        </div>
                        <div class="btn btn-outline-secondary" title="Feedback about this profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                                <path d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856s-.036.586-.113.856c-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a10 10 0 0 1-.443-.05 9.36 9.36 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a9 9 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581s-.027-.414-.075-.581c-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.2 2.2 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.9.9 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1"/>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        Subjects:
                    </div>
                    <div class="item">
                        <span class="subject">{subject}</span> for <span class="medium">{medium}</span> medium
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        Interest:
                    </div>
                    <div class="item">
                        as <span class="mode">{mode}</span> for <span class="class_level">{class_level}</span>, and mentored for <span class="mentorship">{mentorship}</span> students with <span class="experience">{experience}</span> years experience
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        Higher Degree:
                    </div>
                    <div class="item">
                        <span class="high_degree">{high_degree}</span> from <span class="institute">{institue}</span> (graduated on <span class="year_graduation">{year_graduation}</span>)
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        Address:
                    </div> 
                    <div class="item">
                        <span class="address">{address}</span>,
                        <span class="city">{city}</span> -
                        <span class="pin">{pin}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="item">
                        Connect:
                    </div> 
                    <div class="item">
                        <span class="subject_connect">{subject_connect}</span> subject
                    </div>
                </div>
            </div>
            <div class="bottom flx">
                <div class="btn btn-outline-secondary" onclick="closeCard();">Close</div>
                <div class="btn btn-outline-process" id="add">Start Connection</div>
            </div>
        </div>
    </div>
</div>