:root{
    --bg-color: #FBFAF5;
    --mit-color: #ececec;
    --simple-color: #FBFAF5;
    --blend-color: #e8eae8e1;
    --dark-color: #e3e0e0be;
    --venda: #f2f2f2;
    --rblue: #4169e1;
    --softblue: #EDF0F9;
    --cwhite: #FFFDD0;
    --lavender: #E6E6FA;
    --revers-white: #000;
    --glass-color: #ececec79;
    --code-color: #fafbfc;
    --code-li-color: #fff;
    --loader-back: #fffffff6;
    --loader-font: #320064;
}
body{
    margin: 0px;
    padding: 0%;
    max-width: 100%;
    overflow-x: hidden;
    background: var(--bg-color);
    transition: 1s ease-in-out;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.flo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.flx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.workspace{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background: transparent;
}
.blbg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 99;
    background: transparent;
}
.tabPage{
    height: 100%;
    position: fixed;
    background: #00000069;
}
.btn-process{
    color: #fff;
    background-color: #915ff0;
    border-color: #a76eee;
}
.btn-process:hover{
    color: #fff;
    background-color: var(--loader-font);
    border-color: var(--loader-font);
}
.btn-outline-process{
    color: #cb94f7;
    background-color: transparent;
    border-color: #cb94f7;
}
.btn-outline-process:hover{
    color: #fff;
    background-color: #915ff0;
    border-color: #a76eee;
}
.alert{
    position: fixed;
    left: 15%;
    width: 70%;
    margin: 10px auto;
    margin-top: 10%;
}
.loader{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 200%;
    background: var(--loader-back);
    z-index: 99;
}
.loading{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    top: 30%;
    left: 45%;
    animation: rotate 1s linear infinite
}
.loading::before{
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid var(--rblue);
    animation: prixClipFix 2s linear infinite ;
}
@keyframes rotate{
    100%  {transform: rotate(360deg)}
}
@keyframes prixClipFix{
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}
header{
    display: block;
    .navbar{
        z-index: 99;
        .navbar-brand{
            outline: none;
            font-family: "Zalando Sans SemiExpanded", sans-serif;
            color: var(--rblue);
            font-weight: 500;
            img{
                --logosize: 20px;
                position: relative;
                width: var(--logosize);
                height: var(--logosize);
                margin-top: -8px;
            }
        }
        .navbar-brand:hover{
            color: var(--lavender);
        }
        .user-dp{
            /* background: hsl(233, 52%, 67%); */
            color: #fff;
            font-weight: bold;
            font-family: sans-serif;
            font-size: 14px;
            padding: 0px 9px;
            margin: 0px 50px 0px 10px;
            text-align: center;
            border-radius: 50%;
            div{
                width: 20px;
                margin-top: 45%;
                cursor: pointer;
            }
        }
        .btn{
            padding: .58rem .4rem;
            border-radius: 50px;
            font-size: 12px;
            white-space: nowrap;
        }
        .navbar-search{
            width: 100%;
            justify-items: center;
            .bd-search{
                width: 250px;
                margin-left: 35%;
            }
            .bd-search::after{
                content: "Ctrl + K";
            }
        }
        .collapse{
            width: fit-content;
        }
    }
}
.small-tutorial{
    width: 250px!important;
    position: fixed;
    bottom: 8%;
    left: 3%;
    user-select: none;
    .left{
        width: 20%;
        .icon-circle{
            width: 50px;
            height: 50px;
            margin-top: 5px;
            border-radius: 50%;
            background-color: var(--rblue);
            color: var(--simple-color);
            text-align: center;
            i{
                font-size: 25px;
                margin: 12px auto;
            }
        }
    }
    .right{
        width: 80%;
        padding: 5px;
        h6{
            margin-bottom: 2px;
        }
    }
}
.popup{
    /* position: absolute;
    bottom: 20px;
    right: 10px;
    z-index: 99; */
    width: fit-content;
    height: fit-content;
    .alert{
        position: relative!important;
        left: 0;
        width: fit-content;
        margin: 0px;
    }
}
#legalDoc{
    margin: 5% auto;
    width: 80%;
    height: 80vh;
    height: auto;
    background: #fff;
    border-radius: 10px;
    border: 1px solid var(--rblue);
    .container{
        margin: 0px;
        width: 100%;
        max-width: 100%;
        .component .form-group{
            max-height: 550px;
            overflow: auto;
            text-align: justify;
        }
    }
    #privacyPage .head,#licensePage .head{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0px 0px 15px 0px;
        padding: 10px 15px;
        background: var(--rblue);
        .title{
            font-weight: bold;
            font-family: sans-serif;
            margin: 0px;
            font-size: 25px;
            color: #fff;
        }
        .flx{
            width: 5%;
            color: #fff;
            .option{
                cursor: pointer;
            }
        }
    }
    #privacyPage .mac-head,#licensePage .mac-head{
        text-align: center;
        font-size: 32px;
        font-weight: 600;
        color: var(--rblue);
        font-family: sans-serif;
    }
}
#big-footer{
    width: 100%;
    height: 100vh;
    position: relative;
    padding: 5% 8%;
    background: #33116f;
    /* background: #551fb4; */
    color: floralwhite;
    .top{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-bottom: 30px;
        .foot-col{
            padding: 2px 20px;
            h6{
                font-size: 1.1rem;
                text-transform: capitalize;
                margin-bottom: 20px;
            }
            ul{
                list-style: none;
                padding: 0px;
                font-size: 14px;
                color: antiquewhite;
                font-family: sans-serif;
                li{
                    margin-bottom: 10px;
                    text-transform: capitalize;
                }
                li:hover{
                    cursor: pointer;
                    color: var(--lavender);
                }
            }
        }
        .foot-col:nth-child(1){
            .navbar-brand{
                outline: none;
                font-family: "Zalando Sans SemiExpanded", sans-serif;
                color: #fff;
                font-size: 40px;
                font-weight: 400;
                img{
                    --logosize: 60px;
                    position: relative;
                    width: var(--logosize);
                    height: var(--logosize);
                    margin-top: -18px;
                    filter: brightness(10);
                }
            }
            .supp{
                font-size: 12px;
                p{
                    text-transform: uppercase;
                    text-align: justify;
                    margin: 0px;
                }
            }
            .btn-holder{
                margin: 20px 0px;
                flex-direction: column;
                width: fit-content;
                .btn{
                    margin-bottom: 20px;
                }
            }
        }
    }
    .middle{
        padding-bottom: 20px;
        border-bottom: 1px solid whitesmoke;
        .left-component{
            width: 100%;
        }
        .right-component{
            width: 30%;
            svg{
                --size: 22px;
                width: var(--size);
                height: var(--size);
            }
            svg:hover{
                color: var(--lavender);
                cursor: pointer;
            }
        }
    }
    .bottom{
        .left-component, .right-component{
            width: fit-content;
            padding: 20px 5px;
        }
        .left-component{
            img{
                --size: 25px;
                height: var(--size);
                width: var(--size);
                margin-right: 10px;
                filter: brightness(10);
            }
            span{
                color: azure;
                padding-top: 5px;
                font-size: 14px;
            }
        }
        .right-component {
            width: fit-content;
            div{
                padding: 0px 18px;
                border-right: 1px solid #fff;
            }
            div:hover{
                color: var(--lavender);
                cursor: pointer;
            }
            div:nth-last-child(1){
                border: none;
            }
        }
    }
}
#small-footer{
    width: 100%;
    position: relative;
    padding: 2% 8%;
    color: slategrey;
    .inline-foot{
        justify-content: center;
        .left-component, .right-component{
            width: fit-content;
            padding: 20px 5px;
        }
        .left-component{
            margin-right: 20px;
            img{
                --size: 25px;
                height: var(--size);
                width: var(--size);
                margin-right: 10px;
                filter: saturate(0.2);
            }
            span{
                padding-top: 5px;
                font-size: 14px;
            }
        }
        .right-component {
            width: fit-content;
            div{
                margin-right: 15px;
            }
            div:hover{
                color: var(--lavender);
                cursor: pointer;
            }
            div:nth-last-child(1){
                border: none;
            }
        }
    }
}
/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .alert{
        width: 95%;
        left: 2.5%;
    }
    header{
        display: block;
        .navbar{
            .navbar-search{
                width: 50%;
                .bd-search{
                    width: 100%;
                    margin-left: 0px;
                }
            }
            .user-dp{
                width: fit-content;
                padding: 10px;
                margin: 10px 5px;
                div{
                    margin: 0px;
                }
            }
            .user-dp::before{
                position: absolute;
                top: 82%;
                left: 20%;
                content: "User Profile";
                color: var(--rblue);
                z-index: 99;
            }
        }
    }
    .small-tutorial{
        bottom: 4%;
        left: 5%;
    }
    #legalDoc{
        width: 95%;
        #privacyPage .head,#licensePage .head{
            .flx{
                width: 15%;
            }
        }
    }
    #big-footer{
        overflow-y: auto;
        .top{
            grid-template-columns: repeat(2, 1fr);
        }
        .top .foot-col:first-child {
            grid-column: 1 / -1; 
        }
        .middle {
            .right-component {
                width: 180%;
            }
        }
        .bottom{
            flex-direction: column;
            justify-content: center;
            width: 100%;
            .left-component{
                padding-bottom: 5px;
            }
            .right-component{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-top: 5px;
                div{
                    border: none;
                }
            }
        }
    }
    #small-footer{
        padding: 2% 4%;
        .inline-foot{
            width: 100%;
            flex-direction: column;
            .left-component{
                width: 100%;
                margin-right: 0px;
                padding-bottom: 5px;
            }
            .right-component{
                width: 100%;
                padding-top: 5px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}
/* Desktop view */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    header{
        display: block;
    }
    .small-tutorial{
        bottom: -2%;
        margin-bottom: 20px;
    }
    #big-footer{
        .bottom {
            .right-component {
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
    #small-footer{
        .inline-foot{
            .left-component{
                justify-content: center;
            }
            .right-component{
                grid-template-columns: repeat(4, 1fr);
                text-align: center;
            }
        }
    }
}
/* Tab view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    header{
        display: block;
    }
    .small-tutorial{
        bottom: 2%;
        height: fit-content;
    }
    #big-footer{
        .top{
            grid-template-columns: repeat(3, 1fr);
        }
        .top .foot-col:first-child {
            grid-column: inherit;
        }
        .middle {
            .right-component {
                width: 80%;
            }
        }
        .bottom{
            flex-direction: row;
            .right-component{
                display: flex;
            }
        }
    }
    #small-footer{
        padding: 2% 8%;
        .inline-foot{
            flex-direction: row;
            .left-component{
                width: fit-content;
                margin-right: 20px;
                padding-bottom: 20px;
            }
            .right-component{
                width: fit-content;
                padding-top: 20px;
                display: flex;
            }
        }
    }
}
