.exam-page{
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    .head{
        user-select: none;
        h4{
            color: #171717;
            strong{
                color: var(--rblue);
                font-family: sans-serif;
            }
        }
    }
    .top{
        padding-bottom: 20px;
    }
    .bottom{
        padding-top: 10px;
        border-top: 1px solid slategray;
        .navbar{
            margin: 5px 0px 20px 0px;
            padding-right: 0px;
            padding-left: 0px;
        }
    }
    .top, .bottom{
        .body{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 2%;
            row-gap: 20px;
            .exam-box{
                position: relative;
                background: #fff;
                border-radius: 5px;
                padding: 5%;
                border: 0.5px solid #dbdbf4ad;
                cursor: pointer;
                overflow: hidden;
                .dp{
                    width: 100%;
                    height: 100px;
                    background: #1b1b35;
                    border-radius: 4px;
                    img{
                        height: 100%;
                        position: relative;
                        top: 0;
                        left: 25%;
                        padding: 10px;
                        filter: invert(1);
                        opacity: 0.7;
                        user-select: none;
                    }
                }
                .content{
                    margin: 8px 0px 4px 0px;
                    .name{
                        font-weight: 600;
                        font-family: sans-serif;
                        color: #3b4147;
                    }
                    .topic, .score{
                        text-transform: capitalize;
                    }
                    svg{
                        margin-top: -2px;
                    }
                }
            }
        }
        #ai_exam, #custom_exam{
            display: none;
        }
        #custom_exam{
            grid-template-columns: repeat(4, 1fr);
            .exam-box .dp img{
                left: 30%;
            }
        }
    }
    .blbg:has(.examSetUp){
        background: #0000009e;
        display: none;
    }
    .examSetUp{
        width: 70%;
        margin: 10% auto;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 4px 2px grey;
        overflow: hidden;
        .head.flx{
            width: 100%;
            height: 40px;
            background: var(--rblue);
            padding: 0px 8px;
            padding-top: 5px;
            font-size: 20px;
            font-weight: 600;
            font-family: monospace;
            color: #fff;
            span{
                font-size: 20px;
            }
        }
        .name, .row{
            padding: 5px 10px;
            margin: 0px;
        }
        .name{
            font-size: 18px;
            font-weight: 600;
            font-family: sans-serif;
            color: #1b1b35;
            margin-bottom: 10px;
            margin-top: 8px;
        }
        .flx{
            padding-bottom: 20px;
            padding-right: 10px;
        }
        small{
            text-align: justify;
        }
    }
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .exam-page{
        .top, .bottom{
            .body{
                grid-template-columns: repeat(2, 1fr);
                .exam-box{
                    .dp{
                        img{
                            left: 20%;
                        }
                    }
                }
            }
            #custom_exam{
                grid-template-columns: repeat(1, 1fr);
                .exam-box .dp img{
                    left: 30%;
                }
            }
        }
        .bottom{
            .navbar input{
                width: 60%;
                margin-right: 8px;
            }
        }
    }
}

/* Desktop view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .exam-page{
        .top, .bottom{
            .body, #custom_exam{
                grid-template-columns: repeat(3, 1fr);
                .exam-box{
                    .dp{
                        img{
                            left: 25%;
                        }
                    }
                }
            }
        }
    }
}

/* Tab view */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .exam-page{
        .top, .bottom{
            #custom_exam{
                grid-template-columns: repeat(2, 1fr);
                .exam-box .dp img{
                    left: 30%;
                }
            }
        }
    }
}