.workspace {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.subpage {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    user-select: none;
}
.gradient_page{
    background: linear-gradient(100deg, #E9EBFC, #EAEAFB, #F8EEE9);
}
.subpage:nth-child(1) {
    .left-component{
        width: 40%;
        margin-right: 5%;
        h2{
            color: #21016d;
            color: var(--rblue);
            font-size: 60px;
            font-family: Poppins, sans-serif;
            font-weight: 700;
            line-height: 77px;
            margin-bottom: 0.8rem;
        }
        p{
            color: #1e1e1e;
            font-size: 16px;
            line-height: 26px;
            -webkit-font-smoothing: antialiased;
        }
        .btn{
            width: 35%;
            border-radius: 50px;
            margin-right: 2%;
        }
    }
    .right-component{
        width: 40%;
        .side-img{
            position: relative;
            --size: 450px;
            width: var(--size);
            height: var(--size);
            margin: 10px calc((100% - var(--size)) / 2);
        }
        .small_floater{
            width: 150px;
            height: 110px;
            border-radius: 10px;
            background: #f2f1fec4;
            color: #1e1e1e;
            backdrop-filter: blur(5px);
            padding: 0px 10px;
            position: absolute;
            opacity: 0;
            transform: translateX(-50px);
            transition: all 0.8s ease-out;
            overflow: hidden;
            strong{
                font-size: 22px;
            }
            p{
                font-size: 12px;
                font-family: sans-serif;
                line-height: 20px;
            }
        }        
        .small_floater.visible {
            opacity: 1;
            transform: translateX(0);
        }
        .small_floater.left{
            top: 32%;
            left: 58%;
            border: 0.8px solid #f8eee9b3;
        }
        .small_floater.right{
            width: 180px;
            top: 24%;
            left: 80%;
            background: #e9ebfc73;
        }
        .mid_floater{
            width: 240px;
            aspect-ratio: 16/9;
            border-radius: 5px;
            background: #fff;
            border: 3px solid #fff;
            position: absolute;
            top: 60%;
            left: 59%;
            overflow: hidden;
            img{
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.subpage:nth-child(2) {
    background: lightblue;
}
.subpage:nth-child(3) {
    background: lightgreen;
}
.subpage:nth-child(4) {
    background: lightgoldenrodyellow;
}
#typing {
    font-weight: bold;
    border-right: 4px solid #21016d;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes blink {
    0%, 50% { border-color: transparent; }
    51%, 100% { border-color: #21016d; }
}
#typing {
    animation: blink 0.8s infinite;
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .subpage.flx{
        flex-direction: column;
    }
    .subpage:nth-child(1){
        text-align: center;
        padding: 24px;
        .left-component,.right-component{
            width: 100%;
            margin-right: 0px;
            h2{
                font-size: 36px;
                line-height: 44px;
            }
            .btn{
                width: 45%;
            }
        }
        .left-component{
            margin-top: -100px;
        }
        .right-component{
            display: none;
        }
    }
}