@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.workspace {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.subpage {
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
    user-select: none;
}
.gradient_page{
    background: linear-gradient(100deg, #E9EBFC, #EAEAFB, #F8EEE9);
}
.subpage:nth-child(1) {
    background-image: url('../images/landing_gradient.png');
    background-position: 50% 100%;
    background-size: cover;
    .left-component{
        width: 40%;
        margin-right: 5%;
        h2{
            color: #21016d;
            color: var(--rblue);
            font-size: 60px;
            font-family: Poppins, sans-serif;
            font-weight: 700;
            line-height: 77px;
            margin-bottom: 0.8rem;
            .prp{
                background: linear-gradient(95deg, var(--rblue), var(--purple));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        p{
            color: #1e1e1e;
            font-size: 16px;
            line-height: 26px;
            -webkit-font-smoothing: antialiased;
        }
        .btn{
            width: 35%;
            border-radius: 50px;
            margin-right: 2%;
        }
    }
    .right-component{
        width: 40%;
        .side-img{
            position: relative;
            --size: 450px;
            width: var(--size);
            height: var(--size);
            margin: 10px calc((100% - var(--size)) / 2);
            transition: 0.8s ease-in-out;
        }
        .small_floater{
            width: 150px;
            height: 110px;
            border-radius: 10px;
            background: #f2f1fec4;
            color: #1e1e1e;
            backdrop-filter: blur(5px);
            padding: 0px 10px;
            position: absolute;
            opacity: 0;
            transform: translateX(-50px);
            transition: all 0.8s ease-out;
            overflow: hidden;
            strong,div{
                font-size: 22px;
                font-weight: bolder;
                margin: 8px 0px;
            }
            p{
                font-size: 12px;
                font-family: sans-serif;
                line-height: 20px;
            }
        }        
        .small_floater.visible {
            opacity: 1;
            transform: translateX(0);
        }
        .small_floater.left{
            top: 32%;
            left: 58%;
            border: 0.8px solid #f8eee9b3;
        }
        .small_floater.right{
            width: 180px;
            top: 24%;
            left: 80%;
            background: #e9ebfc73;
        }
        .mid_floater{
            width: 240px;
            aspect-ratio: 16/9;
            border-radius: 5px;
            background: #fff;
            border: 3px solid #fff;
            position: absolute;
            top: 60%;
            left: 59%;
            transition: 0.8s ease-in-out;
            overflow: hidden;
            img{
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }
}
.subpage:nth-child(2) {
    display: block;
    padding-top: 20px;
    .head{
        width: 80%;
        margin: 5px auto;
        text-align: center;
        padding: 2px 10%;
        color: #1e1e1e;
        h4{
            font-size: 22px;
            font-family: sans-serif;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .compo{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0%;
        justify-content: space-between;
    }
    .compo .left-component{
        width: 45%;
        height: 100%;
        margin-top: 4%;
        padding: 10px 0% 10px 6%;
        ul{
            font-size: 20px;
            font-family: cursive;
            color: #1e0644;
            list-style: none;
            padding-inline-start: 0px;
            li{
                margin-bottom: 20px;
                padding-left: 1rem;
                .prp{
                    color: var(--purple);
                }
            }
            li::marker{
                content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-check2-circle' viewBox='0 0 16 16'><path d='M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0'/><path d='M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z'/></svg>");
                align-items: center;
            }
        }
        .btn-top{
            border-radius: 50px;
            svg{
                margin: -2px 6px 0px;
            }
        }
        p{
            font-size: 18px;
            margin: 60px 0px 10px 0px;
        }
        .btn-holder{
            display: flex;
            flex-direction: row;
            width: fit-content;
            .btn{
                margin-right: 15px;
                .left{
                    svg{
                        --size: 50px;
                        width: var(--size);
                        height: var(--size);
                    }
                }
                .right{
                    text-align: left;
                    margin-left: 10px;
                    span{
                        font-size: 12px;
                    }
                    p{
                        margin: 0px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .compo .right-component{
        width: 55%;
        height: 100%;
        margin-top: 3%;
        .side-img{
            width: 100%;
            height: 60%;
            margin-left: 8%;
            background-image: url('https://ai-dictionary.github.io/superaitutor/assets/images/landing_i3.png');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 5px;
            box-shadow: 0px 0px 4px 1px grey;
        }
        .side-mob{
            width: 100px;
            height: 30%;
            margin-top: -250px;
            margin-left: 80px;
            height: 45%;
            width: 400px;
            background-image: url('https://ai-dictionary.github.io/superaitutor/assets/images/landing_i4.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}
.subpage:nth-child(3) {
    display: block;
    background: linear-gradient(60deg, #E9EBFC, #EAEAFB, #B4E4FD);
    align-items: start;
    padding-top: 40px;
    .head{
        width: 80%;
        margin: 5px auto;
        text-align: center;
        padding: 2px 10%;
        color: #072848;
        h4{

            font-size: 28px;
            font-family: sans-serif;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .btn-holder{
        width: 100%;
        padding: 4px 6%;
        .btn{
            border-radius: 50px;
            transition: all 1s ease-in-out;
        }
    }
    .body{
        display: grid;
        display: none;
        grid-template-columns: repeat(5, 1fr);
        padding: 20px 5%;
        .feature{
            background: #fff;
            margin: 10px 20px;
            padding: 8px;
            border-radius: 5px;
            .image{
                width: 100%;
                height: 120px;
                background: var(--dark);
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                svg{
                    --size: 30px;
                    width: var(--size);
                    height: var(--size);
                }
            }
            .content{
                font-size: 16px;
                padding: 4px 0px;
                color: #072848;
                font-family: 'Poppins', sans-serif;
                text-transform: capitalize;
            }
        }
    }
    p{
        font-size: 16px;
        padding: 1% 10% 0px 10%;
        text-align: center;
    }
}
.subpage:nth-child(4) {
    background: lightgoldenrodyellow;
}
#typing {
    font-weight: bold;
    border-right: 4px solid #21016d;
    padding-right: 4px;
    white-space: nowrap;
    overflow: hidden;
}
@keyframes blink {
    0%, 50% { border-color: transparent; }
    51%, 100% { border-color: #21016d; }
}
#typing {
    animation: blink 0.8s infinite;
}
.downToUp {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1.5s ease-out;
}

.downToUp.show {
    opacity: 1;
    transform: translateY(0);
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .subpage.flx{
        flex-direction: column;
        justify-content: start;
    }
    .subpage:nth-child(1){
        text-align: center;
        padding: 24px;
        height: fit-content;
        .left-component,.right-component{
            width: 100%;
            margin-right: 0px;
            h2{
                font-size: 36px;
                line-height: 44px;
            }
            .btn{
                width: 45%;
            }
        }
        .left-component{
            margin-top: 50px;
        }
        .right-component{
            .side-img{
                --size: 200px;
                margin-top: 60px;
                margin-bottom: 20px;
            }
            .small_floater.left, .small_floater.right{
                top: 69%;
                left: 14%;
                width: 100px;
                height: 70px;
                padding: 0px 2px;
                div{
                    font-size: 14px;
                    font-weight: 600;
                    margin: 4px 0px;
                }
                p{
                    font-size: 8px;
                    line-height: 14px;
                }
            }
            .small_floater.right{
                top: 64%;
                left: 60%;
            }
            .mid_floater{
                width: 100px;
                top: 86%;
                left: 24%;
            }
        }
    }
    .subpage:nth-child(2) {
        height: fit-content;
        .head{
            width: 95%;
            padding: 2px 10px;
            h4{
                font-size: 16px;
            }
            p{
                font-size: 10px;
            }
        }
        .compo{
            flex-direction: column;
        }
        .compo .left-component{
            width: 95%;
            margin: 0% auto;
            ul{
                font-size: 14px;
            }
            .btn-top{
                font-size: 0.7rem;
                svg{
                    width: 15px;
                }
            }
            p{
                font-size: 16px;
                margin: 30px 0px 10px 0px;
            }
            .btn-holder{
                .btn{
                    .left{
                        svg{
                            --size: 30px;
                            margin-top: 20%;
                        }
                    }
                    .right{
                        span{
                            font-size: 10px;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .compo .right-component{
            width: 100%;
            height: 250px;
            margin: 40px 0px 5px 0px;
            .side-img{
                height: 80%;
                margin-left: 5%;
            }
            .side-mob{
                width: 150px;
                margin-top: -90px;
                margin-left: 30px;
                height: 55%;
            }
        }
    }
    .subpage:nth-child(3) {
        padding-top: 20px;
        .head{
            width: 95%;
            padding: 2px 2%;
            h4{
                font-size: 20px;
            }
            p{
                font-size: 12px;
                padding: 0px;
            }
        }
        .btn-holder{
            padding: 4px 5%;
            .btn{
                font-size: 0.7rem;
            }
        }
        .body{
            grid-template-columns: repeat(2, 1fr);
            padding: 20px 10px;
            max-height: 240px;
            overflow: auto;
            .feature{
                margin: 10px 4px;
                .image{
                    height: 100px;
                }
                .content{
                    font-size: 14px;
                }
            }
        }
        p{
            padding: 20px 5%;
            font-size: 14px;
        }
    }
}

/* Desktop view */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .subpage.flx{
        flex-direction: row;
    }
    .subpage:nth-child(1){
        text-align: left;
        padding: 24px;
        height: fit-content;
        background-repeat: no-repeat;
        background-size: auto;
        .left-component{
            .btn-holder{
                margin-bottom: 40px;
            }
        }
        .right-component{
            .side-img{
                --size: 300px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .small_floater.left, .small_floater.right{
                top: 28%;
                left: 54%;
            }
            .small_floater.right{
                top: 14%;
                left: 80%;
            }
            .mid_floater{
                top: 64%;
                left: 56%;
                width: 150px;
            }
        }
    }
    .subpage:nth-child(2){
        .compo{
            flex-direction: row;
        }
        .compo .left-component{
            font-size: 12px;
            ul {
                font-size: 12px;
                li {
                    margin-bottom: 15px;
                }
            }
            p {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        .compo .right-component{
            margin-top: 16%;
            height: 300px;
            .side-mob {
                width: 180px;
                margin-top: -100px;
            }
        }
    }
}

/* Tab view */
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .subpage:nth-child(1){
        .right-component{
            .side-img{
                --size: 300px;
                margin-top: 30px;
                margin-bottom: 20px;
            }
            .small_floater.left, .small_floater.right{
                top: 62%;
                left: 22%;
            }
            .small_floater.right{
                top: 55%;
                left: 60%;
            }
            .mid_floater{
                top: 82%;
                left: 24%;
                width: 150px;
            }
        }
    }
    .subpage:nth-child(2){
        .compo .right-component{
            height: 350px;
            .side-mob{
                width: 200px;
                margin-top: -120px;
            }
        }
    }
}