.profile-page{
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    .head{
        user-select: none;
        h4{
            color: #171717;
            span{
                font-size: 16px;
                color: slategrey;
            }
        }
        .flx{
            width: fit-content;
        }
        .btn{
            padding: 4px 18px;
            border-radius: 50px;
            margin-right: 8px;
        }
        .save-option{
            display: none;
        }
    }
    .btn{
        svg{
            margin-top: -2px;
        }
    }
    .body{
        margin: 20px 0px;
        .left-component, .right-component .small-component{
            background: #fff;
            border-radius: 10px;
            height: 100%;
            border: 0.5px solid #dbdbf4ad;
            padding: 10px 20px;
        }
        .left-component{
            width: 40%;
            height: auto;
            .dp{
                padding: 40px 10px;
                text-align: center;
                background: hsl(216, 81%, 81%);
                border-radius: 50%;
                border: 0.5px solid #dbdbf4ad;
                margin: 20px auto;
                color: #fff;
                font-weight: bold;
                font-family: sans-serif;
                font-size: 80px;
                width: 200px;
                height: 200px;
                user-select: none;
            }
        }
        .right-component{
            width: 58%;
            .small-component{
                margin-bottom: 20px;
                height: fit-content;
            }
        }
        .breaker{
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            color: steelblue;
            width: 100%;
            user-select: none;
        }
        .user-data{
            .form-group.flx{
                label{
                    font-size: 14px;
                    padding-top: 10px;
                    width: 50%;
                    user-select: none;
                }
                .form-control{
                    width: 50%;
                    border: none;
                    /* border-bottom: 1px solid #ced4da; */
                    border-radius: 0px;
                }
                .form-control:focus{
                    box-shadow: none;
                }
                .form-control:disabled{
                    background: transparent!important;
                }
            }
        }
        .hidden{
            display: none;
        }
        .security-mark{
            padding: 20px 8px;
            .form-group.flx{
                margin-bottom: 10px;
                .form-control{
                    width: 70%;
                }
            }
            small{
                text-align: justify;
            }
        }
    }
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .profile-page{
        padding: 10px;
        .head{
            flex-direction: column;
        }
        .body{
            flex-direction: column;
            .left-component, .right-component{
                width: 100%;
                margin-bottom: 20px;
                padding: 10px 20px;
            }
            .left-component{
                .dp{
                    width: 150px;
                    height: 150px;
                    font-size: 50px;
                }
            }
            .right-component{
                padding: 0px;
            }
            .security-mark{
                .form-group.flx{
                    .form-control{
                        width: 60%;
                        }
                    }
                }
            }
    }
}