.teacher-page {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    .head{
        user-select: none;
        h4{
            color: #171717;
            strong{
                color: var(--rblue);
                font-family: sans-serif;
            }
        }
        .normal-option{
            margin: 15px 0px;
            .left-component{
                width: 50%;
                justify-content: left;
                .form-group {
                    width: 40%;
                    margin-bottom: 0px;
                    margin-top: 2%;
                    margin-right: 8px;
                }
            }
            .right-component{
                width: 50%;
                justify-items: right;
                nav{
                    form{
                        input{
                            width: 300px;
                        }
                    }
                }
            }
        }
    }
    .body{
        margin: 15px 0px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2%;
        row-gap: 20px;
        .teacher{
            background: #fff;
            border-radius: 5px;
            border: 0.5px solid #dbdbf4ad;
            overflow: none;
            padding: 10px 0px;
            user-select: none;
            .top{
                .left{
                    width: 20%;
                    text-align: center;
                    .dp{
                        width: 60px;
                        height: 60px;
                        margin: 10px auto 0px auto;
                        background: lightgray;
                        color: #fff;
                        border-radius: 50%;
                        padding: 18px 0px;
                        font-family: sans-serif;
                        font-weight: 600;
                        font-size: 18px;
                        user-select: none;
                    }
                }
                .right{
                    width: 80%;
                    padding: 0px 8px;
                    .title{
                        color: #171717;
                        font-size: 15px;
                        font-family: sans-serif;
                        font-weight: 600;
                        span{
                            width: 90%;
                            max-height: 22px;
                            overflow: hidden;
                        }
                        svg{
                            width: 14px;
                            color: slateblue;
                        }
                    }
                    .mid,.down{
                        font-size: 14px;
                        color: #3d3d3d;
                        max-width: 100%;
                        max-height: 45px;
                        overflow: hidden;
                    }
                    .down{
                        max-height: 20px;
                        span{
                            width: 33%;
                            max-width: 33%;
                            text-align: left;
                            overflow: hidden;
                        }
                        svg{
                            width: 14px;
                            color: slategray;
                            margin-top: -5px;
                        }
                        svg.rate{
                            color: gold;
                        }
                    }
                }
            }
            .bottom{
                background: var(--lavender);
                padding: 4px 8px;
                width: 95%;
                margin: 2px 2.5%;
                margin-top: 10px;
                border-radius: 5px;
                font-size: 12px;
                svg{
                    color: var(--rblue);
                    width: 14px;
                    margin-top: -2px;
                }
                span{
                    max-width: 50%;
                    max-height: 20px;
                    overflow: hidden;
                }
            }
        }
        .teacher:hover{
            box-shadow: 0px 0px 4px 1px slateblue;
            transform: translateY(-10px);
            cursor: pointer;
        }
    }
    #teacher-searchDOD{
        display: none;
        width: 40%;
        margin: 10% auto;
        user-select: none;
        opacity: 0.8;
        img{
            position: relative;
            width: 100%;
        }
    }
    #raw-data{
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        display: none;
    }
    #user_card{
        display: none;
        background: #18181863;
        .card{
            width: 80%;
            height: 80%;
            margin: 5% auto;
            overflow: hidden;
            .top{
                width: 100%;
                height: 14%;
                background: grey;
                background: linear-gradient(60deg, var(--rblue), #caa6c6, lightgreen);
                .dp{
                    --size: 140px;
                    width: var(--size);
                    height: var(--size);
                    margin: 20px;
                    padding-top: 30px;
                    border-radius: 50%;
                    color: #fff;
                    background-color: lightgray;
                    font-weight: 600;
                    font-family: sans-serif;
                    text-align: center;
                    font-size: 50px;
                }
            }
            .mid{
                height: 75%;
                padding-top: 1%;
                .title{
                    padding-left: 20%;
                    font-size: 22px;
                    font-weight: 600;
                }
            }
            .bottom{
                justify-content: space-around;
                height: 14%;
                border-top: 1px solid rgba(0,0,0,.125);
                padding-top: 20px;
                .btn{
                    height: fit-content;
                }
            }
        }
    }
}

/* Mobile view */
@media only screen and (max-width: 900px), only screen and (min-width: 900px) and (max-width: 1200px) {
    .teacher-page {
        .head{
            .normal-option{
                flex-direction: column-reverse;
                .left-component{
                    width: 100%;
                }
                .right-component{
                    width: 100%;
                    nav{
                        padding: 0px;
                        form{
                            input{
                                width: auto;
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }
        .body{
            grid-template-columns: repeat(1, 1fr);
            gap: 0%;
            row-gap: 20px;
            margin-bottom: 50px;
            .teacher{
                .top{
                    .left{
                        width: 25%;
                    }
                    .right{
                        width: 75%;
                    }
                }
            }
        }
    }
}